
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Seinfeld Trivia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="contains everything">
    <meta name="author" content="me">

    <!-- Le styles -->
    <link href="/content/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <!--<link href="css/bootstrap-responsive.css" rel="stylesheet">-->
  <link href="/content/css/main.css" rel="stylesheet">
  </head>
  </head>

  <body class="container-body">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
         
          <a class="brand" href="index.html">Seinfeld Galery</a>
          <div class="nav-collapse">
            <ul class="nav">
<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Main characters <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="characters/jerry.html">Jerry Seinfeld</a></li> 
                <li><a href="jerry.html">George Constanza</a></li>
                <li><a href="jerry.html">Cosmo Kramer</a></li>
                <li><a href="jerry.html">Elaine Bennes</a></li>                   
              </ul>
            </li>
              </li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Episodes <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="seasons/season1.html">Season 1</a></li> 
                <li><a href="season1.html">Season 2</a></li>
                <li><a href="season1.html">Season 3</a></li>
                <li><a href="season1.html">Season 4</a></li>  
                <li><a href="season1.html">Season 5</a></li> 
                <li><a href="season1.html">Season 6</a></li> 
                <li><a href="season1.html">Season 7</a></li>   
                <li><a href="season1.html">Season 8</a></li> 
                <li><a href="season1.html">Season 9</a></li>                
              </ul>
            </li>
        </li>
              
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-body">

      
      <div class="background-image">

      	<div class= "background-hack">
              @RenderBody()

      </div>
</div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/content/js/jquery.js"></script> 
    <script src="~/content/js/bootstrap-dropdown.js"></script>   
    <script src="~/content/js/myjquery.js"></script>
    <script src="~/Content/js/bootstrap-carousel.js"></script>
<script src="~/Content/js/carousel.js"></script>
  </body>
</html>
